<body>
<main class="container-xl mb-4">
    <h1>Création de compte</h1>
    <!-- form "Sign in" responsive (md) with  all spaces (breakpoint md<768px) and the form is centered with the half of all available spaces when the size is over or equal md>=768px -->
    <form class="d-grid col-12 col-md-6 mx-auto" (ngSubmit)="onSubmitForm()" [formGroup]="inscription">
        <!-- field name -->
        <label for="nameid" class="form-label">Nom</label>
        <div class="input-group">
            <input formControlName="lastName" type="text" class="form-control" id="nameId" aria-label="name" aria-describedby="basic-addon1">
        </div>
        <div class="form-text alert-danger" *ngIf="inscription.controls['lastName'].touched && inscription.controls['lastName'].getError('required')">
            le nom est obligatoire
        </div>
        <!-- field Firstname -->
        <label for="firstNameid" class="form-label">Prénom</label>
        <div class="input-group">
            <input formControlName="firstName" type="text" class="form-control" id="firstNameId" aria-label="firstName" aria-describedby="basic-addon1">
        </div>
        <div class="form-text alert-danger" *ngIf="inscription.controls['firstName'].touched && inscription.controls['firstName'].getError('required')">
            le prénom est obligatoire
        </div>
        <!-- field Username -->
        <label for="usernameid" class="form-label">Nom d'utilisateur</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input formControlName="username" type="text" class="form-control" id="userNameId" aria-label="username"
                aria-describedby="basic-addon1">
        </div>
        <div *ngIf="inscription.controls['username'].touched && inscription.controls['username'].getError('required')"
            class="form-text alert-danger">
            Le nom d'utilisateur est obligatoire.
        </div>
        <div id="emailHelp" class="form-text mb-3 alert-danger"
            *ngIf="inscription.controls['username'].touched &&inscription.controls['username'].getError('email')">
            Le nom de l'utilisateur doit être en format email.
        </div>
        <div *ngIf="inscription.controls['username'].dirty && inscription.controls['username'].getError('minlength')"
            class="form-text alert-danger">
            Le nom d'utilisateur doit avoir une longueur min de 12 caractères.
        </div>
        <div *ngIf="inscription.controls['username'].dirty && inscription.controls['username'].getError('maxlength')"
            class="form-text alert-danger">
            Le nom d'utilisateur ne doit pas dépasser 30 caractères.
        </div>
            
        
        <!-- field password -->
        <label for="passwordid" class="form-label">Mot de passe</label>
        <div class="input-group">
            <input formControlName="password" type="password" class="form-control" id="passwordId" aria-label="password">
        </div>
        <div *ngIf="inscription.controls['password'].touched && inscription.controls['password'].getError('required')"
            class="form-text alert-danger">
            Le mode de passe est obligatoire.
        </div>
        <div *ngIf="inscription.controls['password'].dirty && inscription.controls['password'].getError('minlength')"
            class="form-text alert-danger">
            Le mot de passe doit avoir une longueur min de 8 caractères.
        </div>
        <div *ngIf="inscription.controls['password'].dirty && inscription.controls['password'].getError('maxlength')"
            class="form-text alert-danger">
            Le mot de passe ne doit pas dépasser 12 caractères.
        </div>
       
              
        
        <!-- button submit "Sign up" responsive (md) with  all available spaces (breakpoint md<768px) and the button is placed at the end of the form  with the quarter of all available spaces when the size is over or equal md>=768px -->
        <div class="d-grid col-12 col-md-3 ms-auto">
            <button [disabled]="inscription.invalid" type="submit" class="btn btn-dark text-nowrap">Soumettre</button>
        </div>
    </form>
</main>
</body>
