<body>
<main class="container-xl">
    <h1>Création de compte</h1>
    <!-- form "Sign in" responsive (md) with  all spaces (breakpoint md<768px) and the form is centered with the half of all available spaces when the size is over or equal md>=768px -->
    <form class="d-grid col-12 col-md-6 mx-auto" (ngSubmit)="onSubmitForm()" [formGroup]="signUpForm">
        <label for="nameid" class="form-label">Nom</label>
        <div class="input-group">
            <input formControlName="name" type="text" class="form-control" id="nameid" aria-label="name" aria-describedby="basic-addon1">
        </div>
        <label for="firstNameid" class="form-label">Prénom</label>
        <div class="input-group">
            <input formControlName="firstName" type="text" class="form-control" id="firstNameid" aria-label="firstName" aria-describedby="basic-addon1">
        </div>
        <!-- field Username -->
        <label for="usernameid" class="form-label">Nom d'utilisateur</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input formControlName="userName" type="text" class="form-control" id="usernameid" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        
        <!-- field password -->
        <label for="passwordid" class="form-label">Mot de passe</label>
        <div class="input-group">
            <input formControlName="password" type="password" class="form-control" id="passwordid" aria-label="password">
        </div>
        
        
        <!-- button submit "Sign up" responsive (md) with  all available spaces (breakpoint md<768px) and the button is placed at the end of the form  with the quarter of all available spaces when the size is over or equal md>=768px -->
        <div class="d-grid col-12 col-md-3 ms-auto">
            <button type="submit" class="btn btn-dark text-nowrap">Soumettre</button>
        </div>
    </form>
</main>
</body>
