<main class="container-xl">
    <h1>Modification du produit</h1>

    <form *ngIf="updateProduct" class="d-grid col-12 col-md-6 mx-auto" [formGroup]="updateProduct"
        (ngSubmit)="onSubmitUpdateProduct()">
        <div class="mb-3">
            <label for="productNameId" class="form-label">Nom du produit</label>
            <div class="input-group">
                <input formControlName="productName" type="text" class="form-control" id="productNameId"
                    aria-label="userHelp" aria-describedby="basic-addon1">
            </div>
        </div>
        <label for="pictureId" class="form-label">Lien de l'image</label>
        <div class="input-group">
            <input formControlName="pictureUrl"  type="text"
                class="form-control" id="pictureId" aria-label="userHelp" aria-describedby="basic-addon1">
        </div>
        <label for="brandsId" class="form-label">Marques</label>
        <select formControlName="mainBrandId" name="brand" id="brand">
            <option *ngFor="let brand of brandProduct" id="brandId" value={{brand.id}}>{{brand.brandName}}</option>
        </select>
        
        <label for="sizesId" class="form-label">Tailles</label>
        <select formControlName="mainSizeId" name="size" id="size">
            <option *ngFor="let size of sizeProduct" id="sizeId" value={{size.id}}>{{size.sizeName}}</option>
        </select>
        
        <label for="fabricsId" class="form-label">Tissu</label>
        <select formControlName="mainFabricId" name="fabric" id="fabricId">
            <option *ngFor="let fabric of fabricsProduct" id="fabricId" value={{fabric.id}}>{{fabric.fabricName}}</option>
        </select>

        <label for="categoriesId" class="form-label">Catégories</label>
        <select formControlName="mainCategoryId" name="categorie" id="categorie">
            <option *ngFor="let categorie of categorieProduct" id="categorieId" value={{categorie.id}}>
                {{categorie.categoryName}}</option>
        </select>
        <div class="mb-3">
            <label for="priceId" class="form-label">Prix</label>
            <div class="input-group">
                <input formControlName="price" type="number" class="form-control" id="priceId" aria-label="userHelp"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="mb-3">
            <label for="numberStockId" class="form-label">Stock</label>
            <div class="input-group">
                <input formControlName="numberStock" type="number" class="form-control" id="numberStockId"
                    aria-label="userHelp" aria-describedby="basic-addon1">
            </div>
        </div>  

        <div class="d-grid col-12 col-md-3 ms-auto">
            <button [disabled]="updateProduct.invalid" type="submit" class="btn btn-dark text-nowrap">Modifier</button>
        </div>

    </form>
</main>