<main class="container-xl">
    <h1>Création un produit</h1>
   
    <form class="d-grid col-12 col-md-6 mx-auto" (ngSubmit)= "onSubmitProduct()" [formGroup]="creerProduit">
        <div class="mb-3">
        <label for="productNameId" class="form-label">Nom</label>
            <div class="input-group">
                <input formControlName="productName"  type="text" class="form-control" id="productNameId" aria-label="userHelp"aria-describedby="basic-addon1">
            </div>
        </div>
        <label for="brandsId" class="form-label">Marque</label>
        <select formControlName="mainBrandId" name="brand" id="brand">
            <option *ngFor="let brand of brandProduct" id="brandId" value={{brand.id}}>{{brand.brandName}}</option>
        </select>
        
        
        <label for="sizesId" class="form-label">Taille</label>
        <select formControlName="mainSizeId" name="size" id="size">
            <option *ngFor="let size of sizeProduct" id="sizeId" value={{size.id}}>{{size.sizeName}}</option>
        </select>
        
        <label for="fabricsId" class="form-label">Matière</label>
        <select formControlName="mainFabricsId" name="fabrics" id="fabricsId">
            <option *ngFor="let fabric of fabricsProduct" id="fabricsId" value={{fabric.id}}>{{fabric.fabricName}}</option>
        </select>

        <label for="categoriesId" class="form-label">Catégorie</label>
        <select formControlName="mainCategoryId" name="categorie" id="categorie">
            <option *ngFor="let categorie of categorieProduct" id="categorieId" value={{categorie.id}}>
                {{categorie.categoryName}}</option>
        </select>

        <div class="mb-3">
        <label for="priceId" class="form-label">Prix</label>
            <div class="input-group">
                <input formControlName="price" type="number" class="form-control" id="priceId" aria-label="userHelp" aria-describedby="basic-addon1">
            </div>
        </div>
    
        <div class="mb-3">
        <label for="numberStockId" class="form-label">Stock</label>
            <div class="input-group">
                <input formControlName= "numberStock" type="number" class="form-control" id="numberStockId" aria-label="userHelp" aria-describedby="basic-addon1">
            </div>
        </div> 
       
        
        <div class="d-grid col-12 col-md-3 ms-auto">
            <button [disabled]="creerProduit.invalid" type="submit" class="btn btn-dark text-nowrap">Créer</button>
        </div>
    </form>
</main>
