<main class="container-xl">
    <h1 class="mb-4 mt-4"> Nos Produits</h1>
    <div class="table-responsive-md">
        <table class="table table-bordered table-hover">
            <caption>List of products </caption>
            <thead class="table-dark">
                <tr class=" text-center">
                    <th>Shopping</th>
                    <th>Nom du produit</th>
                    <th>Marque</th>
                    <th>Taille du produit</th>
                    <th>Tissu du produit</th>
                    <th>Catégorie</th>
                    <th>Prix du produit</th>
                    <th>Nombre de produits</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of listProducts">
                    <td> <img src="assets/shopping_picture.jpg" alt="picture shopping"></td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.brand.brandName }}</td>
                    <td>{{ product.size.sizeName}}</td>
                    <td>{{ product.fabric.fabricName}}</td>
                    <td>{{ product.category.categoryName}}</td>
                    <td>{{ product.price }} euros</td>
                    <td>{{ product.numberStock }}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</main>

