<main class="container-xl">
    <h1 class="mb-4 mt-4"> Nos Produits</h1>
    <div class="table-responsive-md">
        <table class="table table-bordered table-hover">
            <caption>Liste des produits </caption>
            <thead class="table-dark">
                <tr class=" text-center">
                    <th></th>
                    <th>Nom </th>
                    <th>Marque</th>
                    <th>Taille</th>
                    <th>Tissu</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Stock</th>   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of listProducts" class=" text-center" [ngSwitch]="product.category.id">
                    <td *ngSwitchCase="1"> <img src="assets/shopping_pantalon.png" alt="picture shopping"></td>
                    <td *ngSwitchCase="2"> <img src="assets/shopping_jeans.png" alt="picture shopping"></td>
                    <td *ngSwitchCase="3"> <img src="assets/Tshirt.png" alt="picture shopping"></td>
                    <td *ngSwitchCase="4"> <img src="assets/Echarpe.png" alt="picture shopping"></td>
                    <td *ngSwitchCase="5"> <img src="assets/Chapeau.png" alt="picture shopping"></td>
                    <td *ngSwitchCase="6"> <img src="assets/Bonnet.png" alt="picture shopping"></td>
                    <td *ngSwitchDefault> Pas d'image</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.brand.brandName }}</td>
                    <td>{{ product.size.sizeName}}</td>
                    <td>{{ product.fabric.fabricName}}</td>
                    <td>{{ product.category.categoryName}}</td>
                    <td>{{ (product.price).toFixed(2) }} euros</td>
                    <td>{{ product.numberStock }}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</main>

